{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <h1>Bienvenue sur le tableau de bord de l'admin</h1>
    <p>Voici un résumé de votre espace d'administration.</p>
{% endblock %}
